{% extends 'base.html' %}
{% block content %}



<h2>Your Orders</h2>

{% for order in orders %}
  <h3>Order ID: {{ order.id }} - Total Price: ${{ order.total_price }}</h3>
  <hr>
 
  <!-- <table class="table">
    <thead>
      <tr>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.products.all %}
        <tr>
          <td>
            
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="100">
          </td>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.total_price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table> -->

{% endfor %}


{% endblock content%}

    



        
